<!-- dwitter/templates/dwitter/dashboard.html -->

{% extends 'base.html' %}

{% block content %}


<div class="column">

    {% for item in liked_by_followed_all%}
    <div class="box">
        {{ item.dweet.body }}
        <span class="is-small has-text-grey-light">
            [{{ item.dweet.created_at }} by {{ item.dweet.user.username }}]
        </span>

        <form action="{% url 'dwitter:like_dweet' item.dweet.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button is-small is-white">
                {% if item.liked_by_user %}
                    <span class="icon has-text-danger">
                        <i class="fas fa-heart"></i>
                    </span>
                {% else %}
                    <span class="icon has-text-grey-light">
                        <i class="far fa-heart"></i>
                    </span>
                {% endif %}
            </button>
        </form>

        <div>
            {% for like in item.liked_by_followed%}
                {{ like.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            
            {% if item.dweet.likes.count != 0 %}
                等{{ item.dweet.likes.count }}人like该Dweet
            {% endif %}

        </div>

    </div>
    {% endfor %}

</div>


<div class="column is-one-third">

    <div class="notification is-primary">
        Hello, {{ user.username|default:'Guest' }}!
    </div>

    <div class="block">
        <a href="{% url 'dwitter:profile_list' %} ">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
    </div>

    <div class="block">
        <a href="{% url 'dwitter:profile' request.user.profile.id %} ">
            <button class="button is-success is-light is-outlined is-fullwidth">
                My Profile
            </button>
        </a>
    </div>

    <div class="block">
        <div class="block">
            <h2 class="title is-2">Add a Dweet</p>
        </div>
        <div class="block">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-success is-fullwidth is-medium mt-5"
                        type="submit">Dweet
                </button>
            </form>
        </div>
    </div>

</div>

{% endblock content %}